@charset "utf-8";
/* CSS Document */
.o-mt{border:1px solid #dedede;border-bottom:2px solid #00479d;height:33px; line-height:33px;margin-bottom:10px;}
.o-mt h6{color:#00479d;padding-left:16px; font-size:14px;}
.evalu01{border:1px solid #dedede;margin-top:-1px;margin-bottom:10px;}
.evalu01 .tb-void{ overflow:hidden;}
.evalu01 .tb-void th{background:#f7f7f7 url(../images/tb-th.2011.gif) repeat-x;height:31px;color:#666; font-weight:normal;}
.tb-void td {border:solid #E6E6E6;border-width:1px 0 0 0px;padding:10px 10px;}
.tb-void td a{ color:#005ea7}
.pro-info li{float:left;}
.pro-info .fore1{width:58px;height:52px;}
.pro-info .fore1 a{border:1px solid #e1e1e1;float:left;}
.pro-info .fore3,.pro-info .fore4{padding-top:7px;}
.pro-info .fore2{width:330px; text-align:left; line-height:20px;}
.pro-info  a{ color:#005ea7;}
.pro-info  a:hover,.dingyi .tips a:hover,.tb-void td a:hover{text-decoration:underline;}
.pro-info .forem{ text-align:center; line-height:38px;}
.pro-info .fore3{overflow:hidden; color:#999; width:195px;}
.pro-info .fore4{ width:145px;}
.pro-info .fore4 .icon-show{display:inline-block; background-image:url(../images/use.gif);line-height:0;font-size:0;overflow:hidden;}
.pro-info .fore4 .icon-show,.pro-info .fore4 .icon-hide{width:7px;height:10px;margin-left:3px;}
.icon-show{ background-position:-9px -156px;}
.icon-hide{background-position:-2px -156px;}

.prompt01{ position:relative;border-top:1px solid #EDD28B;background:#FFFDEE;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;margin:10px -10px -9px;zoom:1;}
.prompt01 .pc{text-align:left;padding:15px 10px 10px;}
.prompt01 .item{margin-bottom:20px;}
.prompt01 .label{line-height:25px;margin-right:8px;color:#666; text-align:right;width:117px; float:left;}
.prompt01 .label em{color:#ff6600;margin-right:3px;}
.prompt01 .biaoti_biao{border:1px solid #dedede;width:400px;height:25px;pading:2px;line-height:25px;color:#999;}
.prompt01 .star-list{margin-bottom:5px;overflow:hidden;}
.prompt01 .star-list li{float:left;margin-right:12px;}
.prompt01 .star-list .radio{float:left;margin-top:5px;*margin-top:2px;margin-right:3px;}
.form1 label{float:left;font-size:12px;line-height:23px;margin-right:8px;margin-top:5px;}
.star{ display:inline-block;width:76px;height:14px;line-height:150px;overflow:hidden;}
.sa5{ background-position:-2px -1113px;}
.sa4{ background-position:-17px -1113px;}
.sa3{ background-position:-32px -1113px;}
.sa2{ background-position:-47px -1113px;}
.sa1{ background-position:-62px -1113px;}
.sa0{ background-position:-77px -1113px;}
.prompt01 .area{width:580px;height:93px;color:#ccc;}
.form1 .area{padding:4px;border:1px solid #ddd;}
.prompt01 .msg-text{ text-align:right; float:right;margin-right:15px;*margin-right:60px; display:inline;color:#666; line-height:25px;}
.prompt01 .item02 .btnnn{font-weight:bold;color:#333;font-size:14px;width:60px;height:30px; background-position:-1px -530px; display:block; line-height:30px; text-align:center;}
.prompt01 .item02 .btnnn:hover{ text-decoration:underline;}
.prompt01 .pb-t{position:absolute;top:-10px;right:110px;width:19px;height:11px; overflow:hidden; background:url(../images/bg20130911.png) no-repeat;}
