<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>COACH 蔻驰精选大牌海淘-COACH 蔻驰精选大牌进口_多少钱_价格表-网易考拉海购</title>
    <link rel="shortcut icon" href="favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	  
<link rel="stylesheet" href="<?php echo _PUBLIC_?>css/goodslist.css">
<link rel="stylesheet" href="<?php echo _PUBLIC_?>css/pt_pages_search_navigation.css">

<!--[if IE]>
<script type="text/javascript">
(function(){if(!/*@cc_on!@*/0)return;var e = "abbr,article,aside,audio,bb,canvas,datagrid,datalist,details,dialog,eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video".split(','),i=e.length;while(i--){document.createElement(e[i])}})()
</script>
<![endif]-->
<style type="text/css">
/* Code tidied up by ScrapBook */
.m-modalcontent { position: absolute; top: 50%; left: 50%; width: 500px; height: 320px; margin-top: -160px; margin-left: -250px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; text-align: center; border-radius: 5px; }
.m-modalcontent .toparea { position: relative; background: transparent linear-gradient(90deg, rgb(255, 39, 75), rgb(227, 20, 54)) repeat scroll 0% 0%; height: 120px; margin-bottom: 28px; border-top-left-radius: 5px; border-top-right-radius: 5px; }
.m-modalcontent .toparea img { margin-top: 18px; }
.m-modalcontent .toparea .close { position: absolute; top: 10px; right: 15px; display: inline-block; width: 12px; height: 13px; background: transparent url("images/redirect_close_icon.png") repeat scroll 0% 0%; cursor: pointer; }
.m-modalcontent .btn { display: inline-block; margin: 28px 0px 40px; background: rgb(238, 27, 62) none repeat scroll 0% 0%; height: 50px; line-height: 50px; width: 340px; text-align: center; color: rgb(255, 255, 255); font-size: 20px; cursor: pointer; border-radius: 4px; }
.m-modalcontent p { color: rgb(51, 51, 51); font-size: 18px; line-height: 26px; }
.m-modalcontent p .key { color: rgb(238, 27, 62); }
</style><style type="text/css">
/* Code tidied up by ScrapBook */
.m-addrw { display: inline-block; }
.m-addr { position: relative; display: inline-block; height: 20px; line-height: 20px; font-size: 12px; }
.m-addr .iptw.z-nomsg, .m-addr .iptw.z-nomsg .iptdown { color: rgb(153, 153, 153); }
.m-addr .iptw { position: relative; display: inline-block; height: 18px; line-height: 18px; width: auto; padding: 0px 5px; vertical-align: middle; text-align: left; border: 1px solid rgb(204, 204, 204); cursor: pointer; }
.m-addr .iptmsg { width: 114px; white-space: nowrap; overflow: hidden; }
.m-addr .iptmsg, .m-addr .iptdown { display: inline-block; height: 18px; line-height: 18px; vertical-align: top; }
.m-addr .iptdown { font-family: "iconfont"; font-size: 11px; color: rgb(102, 102, 102); }
.m-addr .box { position: absolute; left: 0px; top: 19px; padding: 10px 0px; min-width: 350px; color: rgb(0, 0, 0); border: 1px solid rgb(221, 221, 221); background-color: rgb(255, 255, 255); z-index: 8888; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15); }
.m-addr .boxclose { position: absolute; right: 15px; top: 10px; width: 18px; height: 18px; text-align: center; font-size: 12px; color: rgba(153, 153, 153, 0.7); cursor: pointer; }
.m-addr .boxicup { position: absolute; left: 213px; top: -8px; width: 16px; height: 8px; overflow: hidden; background: transparent url("images/productIcons_001.png") no-repeat scroll 0px -8px; }
.m-addr .box a { display: inline-block; line-height: 24px; height: 24px; padding: 0px 5px; white-space: nowrap; word-break: keep-all; color: rgb(0, 0, 0); outline: medium none; }
.m-addr .box a:visited { color: rgb(212, 28, 68); }
.m-addr .box a:hover { line-height: 22px; height: 22px; padding: 0px 4px; color: rgb(212, 28, 68); border: 1px solid rgb(212, 28, 68); text-decoration: none; cursor: pointer; }
.m-addr .box .tt { height: 30px; width: 100%; padding-left: 10px; overflow: hidden; }
.m-addr .box .ttw { border-bottom: 1px solid rgb(221, 221, 221); height: 29px; width: 420px; }
.m-addr .box .tli { position: relative; float: left; width: auto; min-width: 58px; line-height: 32px; height: 28px; padding: 0px 5px; margin-right: -1px; text-align: center; border: 1px solid rgb(221, 221, 221); cursor: pointer; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.m-addr .box .tli.act { font-weight: bold; height: 29px; border-bottom: medium none; }
.m-addr .box .tli.act::before { position: absolute; left: -1px; top: -1px; width: 100%; border-top: 2px solid rgb(210, 28, 68); border-left: 1px solid rgb(210, 28, 68); border-right: 1px solid rgb(210, 28, 68); content: ""; z-index: 2; }
.m-addr .boxlist { float: left; width: 420px; padding: 0px 20px; overflow: hidden; }
.m-addr .boxlist .tcli { display: inline-block; float: left; width: 55px; line-height: 24px; margin: 6px 0px 0px; }
.m-addr .boxlist .tclitt { width: 60px; height: 24px; color: rgb(153, 153, 153); line-height: 24px; }
.m-addr .boxlist2 span { width: 100px; }
.m-addr .boxlist2 { width: 400px; }
.m-addr .boxlist .cityBox { display: none; height: auto; width: 360px; margin: 11px 0px 5px; padding: 5px 0px 9px; border-top: 1px solid rgb(221, 221, 221); border-bottom: 1px solid rgb(221, 221, 221); background-color: rgb(247, 247, 247); }
.m-addr .boxlist .cityBoxCurr, .m-addr .boxlist .currCity { display: block; }
.m-addr .boxlist .addrline { padding-left: 15px; }
.m-addr .boxlist .selected { background-color: rgb(212, 28, 68); color: rgb(255, 255, 255); }
.m-addr .boxlist .selected:visited, .m-addr .boxlist .selected:hover { color: rgb(255, 255, 255); }
</style><style type="text/css">
/* Code tidied up by ScrapBook */
.m-seeCodeModal .modal-body { padding: 30px 59px; }
.m-seeCodeModal .m-modal-message { text-align: left; padding-bottom: 18px; }
.m-seeCodeModal .code { margin-bottom: 15px; padding: 8px 0px 14px; border-bottom: 1px solid rgb(221, 221, 221); }
.m-seeCodeModal .m-exchangecode { line-height: 24px; }
.m-seeCodeModal .from-label, .m-seeCodeModal .from-content {  }
.m-seeCodeModal .from-label { float: left; line-height: 36px; }
.m-seeCodeModal .from-content { padding-left: 90px; }
.m-seeCodeModal .from-content input { padding: 10px; width: 218px; height: 14px; font-size: 12px; color: inherit; border: 1px solid rgb(213, 213, 213); }
.m-seeCodeModal .send-tip { line-height: 27px; font-size: 12px; color: rgb(153, 153, 153); }
.m-seeCodeModal .m-exchangecode .has-error { color: rgb(210, 33, 71); }
.m-alert-modal {  }
.m-exchange .title .iconfont, .m-alert-modal .iconfont { margin-right: 8px; font-size: 24px; }
.m-exchange .text, .m-exchange .title .iconfont, .m-alert-modal .text, .m-alert-modal .title .iconfont { vertical-align: middle; }
.m-exchange .title, .m-alert-modal .title { font-size: 23px; }
.m-seeCodeModal .iconfont.error, .m-alert-error .title .iconfont { color: rgb(194, 13, 56); }
.m-seeCodeModal .iconfont.success, .m-alert-success .title .iconfont { color: rgb(93, 197, 64); }
.m-exchange .title .iconfont { margin-right: 12px; }
.m-exchange .code, .m-exchange .error-tip, .m-exchange .operation-tip { padding-left: 36px; }
.m-exchange .code { overflow: hidden; }
.m-exchange .code li { padding-right: 25px; float: left; }
.m-exchange .error-tip { padding-top: 9px; padding-bottom: 9px; border-bottom: 1px solid rgb(221, 221, 221); }
.m-exchange .operation-tip { margin-bottom: 2px; padding-top: 7px; padding-bottom: 7px; }
.m-exchange .operation-tip .u-jump-url { padding: 0px 5px; }
</style>
</head>
<body id="index-netease-com">
<?php include("./Web/View/Home/Index/header.html");?>
    <div class="bodybox">
    	<div class="m-search m-search-1" id="searchbox">
    		<div class="resultwrap">
    			<div class="options">
    				<div class="resultinfo clearfix">
    					 <p class="all">
                  <a href="">全部结果</a>
    					 </p>
                <b class="u-gap f-fl">&gt;</b>
                <a href="" class="catCrumbs">精选大牌</a>
                <b class="u-gap f-fl">&gt;</b>
                <a href="" class="catCrumbs">COACH 蔻驰</a>
                <div class="crumbs-attr-area">
                </div>
                <b class="u-gap f-fl">&gt;</b>
                <span class="gnum">商品共<i>521</i>个</span>
            </div>
            <div class="opertaion">
                <div class="m-classify z-cat3 j-box clearfix" id="auto-id-1488466727580">
                    <div class="name">
                      所有分类
                    </div>
                    <div class="hdbrands j-tagwrap line2height line1height" data-searchkey="backCategory">
                        <div class="hdbrands2 ctag">
                            <div class="brands all ctag">
                            <?php 
                                foreach($this->tplist as $type){
                                  if(count($type['zlist'])>0){
                                    foreach($type['zlist'] as $tp){
                                      echo "<a title=\"{$tp['name']}\" href=\"".URL."/index/list?tid={$type['id']}&typeid={$tp['id']}\">{$tp['name']}<b></b></a>";
                                    }
                                  }
                                }
                            ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    			</div>
            	<div class="m-result" id="searchresult">
                	<ul class="clearfix" id="result">
                  <?php 
                    foreach($this->goodslist as $arr){
                      echo "<li class=\"goods\">";
                          echo "<div class=\"goodswrap promotion\">";
                            echo "<div class=\"img\">";
                              echo "<a target=\"_blank\" title=\"\" href=\"".URL."/index/show?id={$arr['id']}\">";
                              echo "<img alt=\"{$arr['goods']}\" class=\"imgtag\" id=\"auto-id-1488466727817\" src=\""._PUBLIC_."/uploads/m_{$arr['picname']}\">";
                                 
                               echo "</a>";
                             echo "</div>";
                            echo "<div class=\"desc clearfix\">";
                              echo "<p class=\"price\">";
                                echo "<span class=\"cur\"><i>¥</i>899</span>";
                              echo "</p>";
                              echo "<div class=\"titlewrap\">";
                                echo "<a class=\"title\" title=\"{$arr['goods']}\" href=\"\" target=\"_blank\"><h2>{$arr['goods']}</h2></a>";
                              echo "</div>";
                            echo "</div>";
                          echo "</div>";
                      echo "</li>";
                    }
                  ?>
                  </ul>
            	</div>
                <div class="splitPages">
                <?php echo $this->page;?>
                   <!--  <span class="prevPage">上一页</span>
                    <span>1</span><a href="">2</a><a href="">3</a><a href="">4</a>  <a class="nextPage" href="">下一页</a> -->
                </div>
    		</div>
    	</div>
    </div>
<!--Regular if1-->    
<!-- footer -->
<?php include("./Web/View/Home/Index/footer.html");?>
</body>
</html>
