/* Code tidied up by ScrapBook */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu { margin: 0px; padding: 0px; outline: medium none; }
header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details { display: block; }
table { border-collapse: collapse; border-spacing: 0px; }
caption, th { text-align: left; font-weight: normal; }
html, body, fieldset, img, iframe, abbr { border: 0px none; }
i, cite, em, var, address, dfn { font-style: normal; }
[hidefocus], summary { outline: 0px none; }
li { list-style: outside none none; }
h1, h2, h3, h4, h5, h6, small { font-size: 100%; }
sup, sub { font-size: 83%; }
pre, code, kbd, samp { font-family: inherit; }
q::before, q::after { content: none; }
textarea { overflow: auto; resize: none; }
label, summary { cursor: default; }
a, button { cursor: pointer; }
h1, h2, h3, h4, h5, h6, em, strong, b { font-weight: normal; }
del, ins, u, s, a, a:hover, a:active, a:focus { text-decoration: none; outline: medium none; }
body, textarea, input, button, select, keygen, legend { font: 12px/1.14 "Microsoft YaHei","微软雅黑","宋体",helvetica,"Hiragino Sans GB"; color: rgb(102, 102, 102); outline: 0px none; }
body { cursor: default; }
a { color: rgb(102, 102, 102); }
button { border: 0px none; }
html, body { width: 100%; height: auto; margin: 0px; padding: 0px; background: transparent none repeat scroll 0% 0%; font-family: "Microsoft YaHei","微软雅黑"; }
input { width: 225px; height: 30px; padding-left: 0px; color: rgb(51, 51, 51); border: medium none; font-size: 16px; font-weight: bold; line-height: 30px; }
input::-moz-placeholder { font-weight: normal; color: rgb(189, 189, 189); }
input:-moz-placeholder { font-weight: normal; color: rgb(189, 189, 189); }
input:focus { border: medium none; outline: medium none; }
a, a:active, a:hover, a:visited { text-decoration: none; }
body { background-color: rgb(239, 239, 239); }
* { font-family: "Microsoft YaHei","微软雅黑","宋体",helvetica,"Hiragino Sans GB"; }
.clearfix::after { content: "."; display: block; clear: both; height: 0px; overflow: hidden; visibility: hidden; }
.g-hd { height: 130px; }
.g-bd { position: relative; width: 1000px; padding-bottom: 55px; margin: 0px auto; background-color: rgb(255, 255, 255); border-radius: 6px; box-shadow: 0px 3px 3px rgb(203, 201, 201); }
.g-in { width: 1000px; margin: 0px auto; }
.f-dn { display: none; }
.spritebg { background: transparent url("sprite.png") no-repeat scroll 0% 0%; }
.m-logo { float: left; width: 300px; height: 60px; background-position: -50px -18px; margin-top: 35px; }
.m-tr-block { float: right; font-size: 18px; margin-top: 50px; }
.m-tr-block a { text-decoration: none; color: rgb(202, 82, 82); }
.m-tr-block a:hover { color: rgb(173, 71, 71); }
.top_tlt { padding: 44px 0px 0px 70px; font: 24px "Microsoft YaHei","微软雅黑","宋体",helvetica,"Hiragino Sans GB"; color: rgb(202, 82, 82); }
.m-toast { position: fixed; z-index: 1001; width: 100%; height: auto; text-align: center; }
.m-toast .txt { display: inline-block; height: auto; min-width: 300px; max-width: 600px; padding: 0px 24px; color: rgb(255, 255, 255); font-size: 16px; text-align: center; line-height: 48px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.8; }
.m-opr { height: 620px; margin-top: 40px; }
.m-opr .u-input { position: relative; float: left; height: 72px; width: 100%; overflow: hidden; }
.m-opr .u-input.firstelem { overflow: visible; z-index: 12; }
.m-opr .u-label { float: left; width: 340px; text-align: right; margin-top: 12px; font-size: 16px; line-height: 45px; color: rgb(51, 51, 51); }
.m-opr .i-inpt { float: left; height: 44px; width: 320px; margin-top: 12px; border: 1px solid rgb(221, 221, 221); font-size: 16px; text-indent: 0.5em; }
.m-opr .i-inpt-small { width: 200px; }
.m-opr .m-select { float: left; width: 108px; height: 46px; margin-top: 12px; border-color: rgb(221, 221, 221); margin-left: 10px; font-size: 14px; padding: 10px 0px; }
.m-opr .m-select option { font-size: 14px; }
@media screen and (min-width: 0px) {
  .m-opr .m-select { padding: 0px; line-height: 40px; }
}
.m-opr input.active { border-color: rgb(102, 102, 102); }
.m-opr .pritplaceholder-parent { float: left; }
.m-opr .pritplaceholder { color: rgb(189, 189, 189); height: 44px; font-size: 18px; margin-top: 12px; text-indent: 0.5em; line-height: 44px; }
.m-opr .itlbox label.pritplaceholder { text-indent: 50px; }
.m-opr .u-tip { position: relative; float: left; width: 40px; height: 40px; margin-left: -42px; margin-top: 15px; z-index: 11; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.m-opr .u-clear { position: absolute; width: 20px; height: 20px; left: 10px; top: 10px; cursor: pointer; background-position: -325px -101px; opacity: 0.5; }
.m-opr .u-clear:hover { opacity: 1; }
.m-opr .i-inpt.smsize { width: 190px; }
.m-opr .i-inpt:disabled { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(153, 153, 153); }
.m-opr .i-inpt.err-clazz { border-color: rgb(250, 91, 91); }
.m-opr .i-inpt.act-clazz { border-color: rgb(74, 175, 233); }
.m-opr .m-sug { position: absolute; z-index: 990; top: 57px; left: 340px; width: 320px; overflow: hidden; border: 1px solid rgb(204, 204, 204); background-color: rgb(245, 245, 245); font-size: 16px; }
@media not all, not all {
  .m-opr .m-sug { left: 340px; }
}
.m-opr .m-sug .js-selected { background-color: rgb(210, 232, 248); }
.m-opr .w-ipt { width: 260px; outline: medium none; }
.m-opr .m-sug .itm { height: 26px; line-height: 26px; cursor: pointer; text-indent: 0.5em; }
.m-opr .popb { float: left; margin-left: 10px; width: 280px; height: 72px; max-height: 60px; overflow: hidden; font-size: 12px; }
.m-opr .popb .b-i { height: 72px; width: 24px; }
.m-opr .popb i { float: left; width: 22px; height: 22px; padding: 0px 2px 0px 0px; background: transparent url("sprite.png") no-repeat scroll 1000px 1000px; }
.m-opr .popb .b-p { overflow: hidden; line-height: 20px; word-break: break-all; }
.m-opr .popb strong { font-weight: bold; color: rgb(30, 144, 255); padding: 0px 5px; }
.m-opr .popb.succ { color: rgb(113, 200, 111); }
.m-opr .popb.succ i { margin-top: 24px; background-position: -26px -98px; }
.m-opr .popb.err { color: rgb(250, 91, 91); }
.m-opr .popb.err i { background-position: -62px -98px; }
.m-opr .popb.warn { color: rgb(153, 153, 153); }
.m-opr .popb.warn a { color: rgb(74, 175, 233); }
.m-opr .popb.warn i { background-position: -391px -99px; }
.m-opr .b-btn { float: left; border: 0px none; width: 322px; height: 46px; margin-top: 12px; background-color: rgb(202, 82, 82); text-align: center; font-size: 18px; color: rgb(255, 255, 255); line-height: 46px; cursor: pointer; }
.m-opr .b-btn:hover { background: rgb(230, 99, 99) none repeat scroll 0% 0%; }
.m-opr .b-btn:active { background: rgb(182, 84, 84) none repeat scroll 0% 0%; }
.m-opr .btndisabled { opacity: 0.6; cursor: default; }
.m-opr .btndisabled:hover { background: rgb(202, 82, 82) none repeat scroll 0% 0%; }
.m-opr .btndisabled:active { background: rgb(202, 82, 82) none repeat scroll 0% 0%; }
.m-opr .btn-red { background: rgb(202, 82, 82) none repeat scroll 0% 0%; }
.m-opr .btn-reg:hover { background: rgb(230, 99, 99) none repeat scroll 0% 0%; }
.m-opr .btn-reg:active { background: rgb(182, 84, 84) none repeat scroll 0% 0%; }
.m-opr .btn-reg.btndisabled { opacity: 0.6; cursor: default; }
.m-opr .btn-reg.btndisabled:hover { background: rgb(202, 82, 82) none repeat scroll 0% 0%; }
.m-opr .btn-reg.btndisabled:active { background: rgb(202, 82, 82) none repeat scroll 0% 0%; }
.m-opr .b-loading { position: absolute; z-index: 4; top: 0px; left: 340px; width: 322px; height: 46px; margin-top: 12px; background: rgb(182, 84, 84) none repeat scroll 0% 0%; opacity: 0.7; }
.m-opr .b-loading img { display: block; width: 30px; height: 30px; margin: 7px auto 0px; }
.m-opr .i-vcode { float: left; height: 44px; width: 118px; margin: 12px 0px 0px 10px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; overflow: hidden; border: 1px solid rgb(204, 204, 204); }
.m-opr .i-vcode img { width: 100%; height: 100%; line-height: 42px; text-align: center; color: rgb(170, 170, 170); }
.m-opr .i-vcode:hover { cursor: pointer; }
.m-opr .btn-getsms { float: left; height: 46px; width: 120px; font-size: 16px; line-height: 46px; margin: 12px 0px 0px 10px; color: rgb(255, 255, 255); background: rgb(158, 197, 227) none repeat scroll 0% 0%; text-align: center; }
.m-opr .btn-getsms:hover { cursor: pointer; background-color: rgb(161, 209, 246); }
.m-opr .btn-getsms:active { background-color: rgb(136, 182, 218); }
.m-opr .btn-getsms-btndisabled { opacity: 0.6; cursor: default; background-color: rgb(161, 209, 246); }
.m-opr .btn-getsms-btndisabled:hover { background-color: rgb(161, 209, 246); }
.m-opr .btn-getsms-btndisabled:active { background-color: rgb(161, 209, 246); }
.m-opr .btn-getsms-loading { float: left; height: 46px; width: 120px; font-size: 17px; margin-left: -120px; margin-top: 12px; line-height: 46px; color: rgb(255, 255, 255); background: rgb(161, 209, 246) none repeat scroll 0% 0%; text-align: center; opacity: 0.99; }
.m-opr .tip { margin-top: 10px; color: rgb(177, 177, 177); float: left; width: 322px; font-size: 12px; }
.m-opr .tip a { text-decoration: none; color: rgb(177, 177, 177); line-height: 20px; }
.m-opr .tip a:hover { color: rgb(102, 102, 102); }
.m-opr .m-vip { position: relative; z-index: 101; width: 1000px; height: 550px; top: 62px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding-top: 14px; }
.m-opr .m-vip i { display: block; margin: 0px auto; background: transparent url("vip.jpg") no-repeat scroll 0% 0%; width: 320px; height: 150px; }
.m-opr .m-vip .btn-vip { cursor: pointer; position: absolute; display: block; left: 453px; border: 1px solid rgb(175, 169, 109); border-radius: 3px; width: 100px; height: 30px; font-size: 13px; color: rgb(175, 169, 109); text-align: center; line-height: 30px; }
.m-activate { height: 454px; }
.m-activate .acti_img { float: left; width: 64px; height: 64px; margin: 68px 10px 0px 268px; background: transparent url("sprite.png") no-repeat scroll -17px -148px; }
.m-activate .acti_tlt { float: left; width: 50%; margin-top: 68px; font-size: 28px; color: rgb(202, 82, 82); }
.m-activate .info-b { float: left; width: 50%; color: rgb(177, 177, 177); font-size: 12px; }
.m-activate .info-b p { line-height: 24px; }
.m-activate .info-b p a { color: rgb(0, 173, 229); }
.m-activate .info-b .tip { font-size: 14px; margin: 10px 0px; }
.m-activate .btn-act-con { min-height: 20px; }
.m-activate .btn-act-con .btn-activate { display: block; width: 108px; height: 32px; margin-bottom: 10px; background-color: rgb(202, 82, 82); text-align: center; font-size: 16px; line-height: 32px; color: rgb(255, 255, 255); }
.m-activate .btn-act-con .btn-activate:hover { background-color: rgb(230, 99, 99); }
.m-activate .btn-act-con .btn-activate:active { background-color: rgb(182, 84, 84); }
.m-activate .btn-act-con .btn-activate.btndisabled { opacity: 0.6; }
.m-regsucc { height: 465px; }
.m-regsucc .wc2d { float: left; text-align: center; width: 140px; padding: 70px 20px 38px 201px; }
.m-regsucc .wc2d .wc2d-img { width: 140px; height: 140px; }
.m-regsucc .wc2d .wc2d-p { font-size: 12px; padding-top: 8px; color: rgb(153, 153, 153); }
.m-regsucc .r-info { float: left; width: 50%; padding: 16px 0px 10px 30px; margin-top: 50px; border-left: 1px solid rgb(221, 221, 221); }
.m-regsucc .r-info .sub_img { float: left; width: 38px; height: 38px; background: transparent url("sprite.png") no-repeat scroll -210px -91px; }
.m-regsucc .r-info .sub_tlt { float: left; width: 50%; margin-top: 5px; padding-bottom: 10px; font-size: 24px; color: rgb(51, 51, 51); padding-left: 12px; }
.m-regsucc .r-info .sub_tip { float: left; width: 370px; line-height: 20px; padding-top: 10px; font-size: 12px; color: rgb(232, 123, 71); text-align: center; }
.m-regsucc .r-info .info-b { float: left; width: 450px; padding-top: 20px; color: rgb(102, 102, 102); font-size: 20px; line-height: 26px; }
.m-regsucc .r-info .acc-lvl span { float: left; }
.m-regsucc .r-info .acc-lvl i { display: block; float: left; width: 26px; height: 26px; padding: 0px 2px; line-height: 28px; background: transparent url("sprite.png") no-repeat scroll -290px -98px; }
.m-regsucc .r-info .acc-lvl i.bright { background-position: -260px -98px; }
.m-regsucc .r-info .acc-lvl .lv-s { float: left; }
.m-regsucc .r-info .acc-lvl .lv-s-1 { color: rgb(229, 101, 100); }
.m-regsucc .r-info .acc-lvl .lv-s-2 { color: rgb(250, 204, 58); }
.m-regsucc .r-info .acc-lvl .lv-s-3 { color: rgb(113, 200, 111); }
.m-regsucc .r-info .btn-goset { float: left; clear: both; display: block; width: 86px; height: 30px; border: 1px solid rgb(113, 200, 111); font-size: 15px; color: rgb(113, 200, 111); text-align: center; line-height: 30px; border-radius: 2px; margin-top: 10px; cursor: pointer; }
.m-regsucc .r-info .btn-gologin { float: left; clear: both; width: 150px; display: block; font-size: 16px; margin-top: 40px; color: rgb(0, 173, 229); }
.m-regsucc .r-info .btn-gologin:hover { text-decoration: underline; }
.m-banner { position: absolute; width: 900px; height: 180px; overflow: hidden; bottom: 60px; left: 50px; border-radius: 2px; box-shadow: 0px 1px 3px rgb(170, 170, 170); }
.m-cp { padding: 30px 0px; }
.m-cp p, .m-cp p a { color: rgb(177, 177, 177); }
.m-cp p { padding-bottom: 10px; text-align: center; }
.m-cp p a { padding: 0px 6px; }
.m-cp p a:hover { color: rgb(238, 140, 24); }
.animated { animation-duration: 1s; animation-fill-mode: both; }
.animated.infinite { animation-iteration-count: infinite; }
.animated.hinge { animation-duration: 2s; }
@keyframes shake {
0%, 100% { transform: translateX(0px); }
10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
20%, 40%, 60%, 80% { transform: translateX(10px); }
}
@keyframes shake {
0%, 100% { transform: translateX(0px); }
10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
20%, 40%, 60%, 80% { transform: translateX(10px); }
}
.shake { animation-name: shake; }
@keyframes fadeInDown {
0% { opacity: 0; transform: translateY(-20px); }
100% { opacity: 1; transform: translateY(0px); }
}
@keyframes fadeInDown {
0% { opacity: 0; transform: translateY(-20px); }
100% { opacity: 1; transform: translateY(0px); }
}
.fadeInDown { animation-name: fadeInDown; }
@keyframes fadeOut {
0% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes fadeOut {
0% { opacity: 1; }
100% { opacity: 0; }
}
.fadeOut { animation-name: fadeOut; }
@keyframes zoomIn {
0% { opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
50% { opacity: 1; }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
.fadeIn { animation-name: fadeIn; }
.m-opr .u-note { height: 22px; line-height: 22px; color: rgb(153, 153, 153); }
.u-note .changephone { cursor: pointer; color: rgb(76, 181, 255); }
.f-dn { display: none ! important; }
.country { background: rgb(255, 255, 255) url("sprite.png") no-repeat scroll -457px -90px; position: absolute; left: 341px; top: 16px; height: 38px; line-height: 38px; width: 30px; padding: 0px 10px; z-index: 999; }
.country em, .u-country em { background: transparent url("flags.gif") no-repeat scroll 0% 0%; width: 16px; height: 11px; line-height: 11px; display: inline-block; margin-right: 0.5em; }
.country em { margin-top: 16px; }
.m-country .i-inpt { text-indent: 50px; }
.m-country .js-placeholder { left: 50px ! important; }
.u-country { overflow-y: scroll; border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255) none repeat scroll 0% 0%; z-index: 9999; position: absolute; width: 318px; height: 300px; display: block; padding-left: 2px; left: 340px; top: 57px; }
.u-country a { position: relative; display: block; height: 24px; line-height: 24px; overflow: hidden; }
.u-country a:hover { background: rgb(204, 204, 204) none repeat scroll 0% 0%; }
.flag-AD em { background-position: 0px -594px; }
.flag-AE em { background-position: 0px -2223px; }
.flag-AF em { background-position: 0px -2311px; }
.flag-AG em { background-position: 0px -869px; }
.flag-AI em { background-position: 0px -1980px; }
.flag-AL em { background-position: 0px -1034px; }
.flag-AM em { background-position: 0px -176px; }
.flag-AN em { background-position: 0px -220px; }
.flag-AO em { background-position: 0px -1947px; }
.flag-AR em { background-position: 0px -2377px; }
.flag-AT em { background-position: 0px -1331px; }
.flag-AU em { background-position: 0px -1716px; }
.flag-AW em { background-position: 0px -792px; }
.flag-AZ em { background-position: 0px -1243px; }
.flag-BA em { background-position: 0px -1584px; }
.flag-BB em { background-position: 0px -1573px; }
.flag-BD em { background-position: 0px -1771px; }
.flag-BE em { background-position: 0px 0px; }
.flag-BF em { background-position: 0px -726px; }
.flag-BG em { background-position: 0px -2586px; }
.flag-BH em { background-position: 0px -1496px; }
.flag-BI em { background-position: 0px -1892px; }
.flag-BJ em { background-position: 0px -1298px; }
.flag-BM em { background-position: 0px -1914px; }
.flag-BN em { background-position: 0px -1683px; }
.flag-BO em { background-position: 0px -1650px; }
.flag-BR em { background-position: 0px -770px; }
.flag-BS em { background-position: 0px -363px; }
.flag-BT em { background-position: 0px -1848px; }
.flag-BW em { background-position: 0px -2707px; }
.flag-BY em { background-position: 0px -1100px; }
.flag-BZ em { background-position: 0px -484px; }
.flag-CA em { background-position: 0px -1375px; }
.flag-CD em { background-position: 0px -1518px; }
.flag-CF em { background-position: 0px -1837px; }
.flag-CG em { background-position: 0px -1793px; }
.flag-CH em { background-position: 0px -1320px; }
.flag-CI em { background-position: 0px -1661px; }
.flag-CK em { background-position: 0px -891px; }
.flag-CL em { background-position: 0px -1342px; }
.flag-CM em { background-position: 0px -2057px; }
.flag-CN em { background-position: 0px -825px; }
.flag-CO em { background-position: 0px -330px; }
.flag-CR em { background-position: 0px -2090px; }
.flag-CU em { background-position: 0px -748px; }
.flag-CV em { background-position: 0px -2652px; }
.flag-CY em { background-position: 0px -561px; }
.flag-CZ em { background-position: 0px -2256px; }
.flag-DE em { background-position: 0px -2509px; }
.flag-DJ em { background-position: 0px -2101px; }
.flag-DK em { background-position: 0px -1386px; }
.flag-DM em { background-position: 0px -2432px; }
.flag-DO em { background-position: 0px -1529px; }
.flag-DZ em { background-position: 0px -528px; }
.flag-EC em { background-position: 0px -1188px; }
.flag-EE em { background-position: 0px -2410px; }
.flag-EG em { background-position: 0px -2201px; }
.flag-ER em { background-position: 0px -715px; }
.flag-ES em { background-position: 0px -1155px; }
.flag-ET em { background-position: 0px -2443px; }
.flag-FI em { background-position: 0px -1903px; }
.flag-FJ em { background-position: 0px -1859px; }
.flag-FO em { background-position: 0px -1111px; }
.flag-FR em { background-position: 0px -1012px; }
.flag-GA em { background-position: 0px -880px; }
.flag-GB em { background-position: 0px -55px; }
.flag-GD em { background-position: 0px -2399px; }
.flag-GE em { background-position: 0px -858px; }
.flag-GF em { background-position: 0px -2234px; }
.flag-GH em { background-position: 0px -2112px; }
.flag-GI em { background-position: 0px -275px; }
.flag-GL em { background-position: 0px -1760px; }
.flag-GM em { background-position: 0px -627px; }
.flag-GN em { background-position: 0px -2575px; }
.flag-GP em { background-position: 0px -407px; }
.flag-GQ em { background-position: 0px -1507px; }
.flag-GR em { background-position: 0px -165px; }
.flag-GT em { background-position: 0px -935px; }
.flag-GU em { background-position: 0px -2366px; }
.flag-GW em { background-position: 0px -1925px; }
.flag-GY em { background-position: 0px -803px; }
.flag-HK em { background-position: 0px -2696px; }
.flag-HN em { background-position: 0px -2156px; }
.flag-HR em { background-position: 0px -902px; }
.flag-HT em { background-position: 0px -319px; }
.flag-HU em { background-position: 0px -682px; }
.flag-ID em { background-position: 0px -1958px; }
.flag-IE em { background-position: 0px -1969px; }
.flag-IL em { background-position: 0px -341px; }
.flag-IN em { background-position: 0px -1694px; }
.flag-IQ em { background-position: 0px -649px; }
.flag-IR em { background-position: 0px -2013px; }
.flag-IS em { background-position: 0px -1991px; }
.flag-IT em { background-position: 0px -143px; }
.flag-JE em { background-position: 0px -55px; }
.flag-JM em { background-position: 0px -1727px; }
.flag-JO em { background-position: 0px -1463px; }
.flag-JP em { background-position: 0px -429px; }
.flag-KE em { background-position: 0px -2630px; }
.flag-KG em { background-position: 0px -1617px; }
.flag-KH em { background-position: 0px -242px; }
.flag-KM em { background-position: 0px -1430px; }
.flag-KN em { background-position: 0px -99px; }
.flag-KP em { background-position: 0px -1804px; }
.flag-KR em { background-position: 0px -2245px; }
.flag-KW em { background-position: 0px -2487px; }
.flag-KY em { background-position: 0px -308px; }
.flag-KZ em { background-position: 0px -1210px; }
.flag-LA em { background-position: 0px -451px; }
.flag-LB em { background-position: 0px -1254px; }
.flag-LC em { background-position: 0px -1397px; }
.flag-LI em { background-position: 0px -979px; }
.flag-LK em { background-position: 0px -2641px; }
.flag-LR em { background-position: 0px -2068px; }
.flag-LS em { background-position: 0px -2190px; }
.flag-LT em { background-position: 0px -1122px; }
.flag-LU em { background-position: 0px -1474px; }
.flag-LV em { background-position: 0px -1936px; }
.flag-LY em { background-position: 0px -132px; }
.flag-MA em { background-position: 0px -2333px; }
.flag-MC em { background-position: 0px -913px; }
.flag-MD em { background-position: 0px -2685px; }
.flag-ME em { background-position: 0px -2167px; }
.flag-MG em { background-position: 0px -1287px; }
.flag-MK em { background-position: 0px -1353px; }
.flag-ML em { background-position: 0px -2520px; }
.flag-MN em { background-position: 0px -2553px; }
.flag-MO em { background-position: 0px -2597px; }
.flag-MQ em { background-position: 0px -198px; }
.flag-MR em { background-position: 0px -253px; }
.flag-MS em { background-position: 0px -583px; }
.flag-MT em { background-position: 0px -1551px; }
.flag-MU em { background-position: 0px -2179px; }
.flag-MV em { background-position: 0px -616px; }
.flag-MW em { background-position: 0px -2145px; }
.flag-MX em { background-position: 0px -2024px; }
.flag-MY em { background-position: 0px -1870px; }
.flag-MZ em { background-position: 0px -638px; }
.flag-NA em { background-position: 0px -1881px; }
.flag-NC em { background-position: 0px -1276px; }
.flag-NE em { background-position: 0px -550px; }
.flag-NG em { background-position: 0px -2476px; }
.flag-NI em { background-position: 0px -154px; }
.flag-NL em { background-position: 0px -1441px; }
.flag-NO em { background-position: 0px -836px; }
.flag-NP em { background-position: 0px -110px; }
.flag-NZ em { background-position: 0px -1540px; }
.flag-OM em { background-position: 0px -2454px; }
.flag-PA em { background-position: 0px -847px; }
.flag-PE em { background-position: 0px -946px; }
.flag-PF em { background-position: 0px -1705px; }
.flag-PG em { background-position: 0px -1485px; }
.flag-PH em { background-position: 0px -1815px; }
.flag-PK em { background-position: 0px -2035px; }
.flag-PL em { background-position: 0px -1177px; }
.flag-PM em { background-position: 0px -1078px; }
.flag-PR em { background-position: 0px -473px; }
.flag-PS em { background-position: 0px -1199px; }
.flag-PT em { background-position: 0px -517px; }
.flag-PY em { background-position: 0px -2344px; }
.flag-QA em { background-position: 0px -462px; }
.flag-RE em { background-position: 0px -264px; }
.flag-RO em { background-position: 0px -671px; }
.flag-RS em { background-position: 0px -2465px; }
.flag-RU em { background-position: 0px -660px; }
.flag-RW em { background-position: 0px -2674px; }
.flag-SA em { background-position: 0px -33px; }
.flag-SC em { background-position: 0px -1045px; }
.flag-SD em { background-position: 0px -352px; }
.flag-SE em { background-position: 0px -385px; }
.flag-SG em { background-position: 0px -22px; }
.flag-SI em { background-position: 0px -1221px; }
.flag-SK em { background-position: 0px -2212px; }
.flag-SL em { background-position: 0px -737px; }
.flag-SM em { background-position: 0px -2123px; }
.flag-SN em { background-position: 0px -2134px; }
.flag-SO em { background-position: 0px -1364px; }
.flag-SR em { background-position: 0px -2663px; }
.flag-SS em { background-position: 0px -2718px; }
.flag-ST em { background-position: 0px -2388px; }
.flag-SV em { background-position: 0px -1639px; }
.flag-SY em { background-position: 0px -1826px; }
.flag-SZ em { background-position: 0px -2278px; }
.flag-TC em { background-position: 0px -1309px; }
.flag-TD em { background-position: 0px -814px; }
.flag-TG em { background-position: 0px -605px; }
.flag-TH em { background-position: 0px -957px; }
.flag-TJ em { background-position: 0px -187px; }
.flag-TL em { background-position: 0px -418px; }
.flag-TM em { background-position: 0px -2542px; }
.flag-TN em { background-position: 0px -539px; }
.flag-TO em { background-position: 0px -1089px; }
.flag-TR em { background-position: 0px -1606px; }
.flag-TT em { background-position: 0px -440px; }
.flag-TW em { background-position: 0px -506px; }
.flag-TZ em { background-position: 0px -2289px; }
.flag-UA em { background-position: 0px -2002px; }
.flag-UG em { background-position: 0px -1166px; }
.flag-US em { background-position: 0px -44px; }
.flag-UY em { background-position: 0px -2608px; }
.flag-UZ em { background-position: 0px -1001px; }
.flag-VC em { background-position: 0px -2619px; }
.flag-VE em { background-position: 0px -1056px; }
.flag-VG em { background-position: 0px -1408px; }
.flag-VN em { background-position: 0px -968px; }
.flag-VU em { background-position: 0px -1265px; }
.flag-WS em { background-position: 0px -2300px; }
.flag-YE em { background-position: 0px -1672px; }
.flag-ZA em { background-position: 0px -2355px; }
.flag-ZM em { background-position: 0px -1595px; }
.flag-ZW em { background-position: 0px -2046px; }
