<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>订单提交成功页面</title>
<link type="text/css" href="<?php echo _PUBLIC_."mybuycat/";?>css/header.css" rel="stylesheet">
<link type="text/css" href="<?php echo _PUBLIC_."mybuycat/";?>css/footer.css" rel="stylesheet">
<link type="text/css" href="<?php echo _PUBLIC_."mybuycat/";?>css/index.css" rel="stylesheet">
<link type="text/css" href="<?php echo _PUBLIC_."mybuycat/";?>css/good_info.css" rel="stylesheet">
<link type="text/css" href="<?php echo _PUBLIC_."mybuycat/";?>css/mybuycat.css" rel="stylesheet">
<link type="text/css" href="<?php echo _PUBLIC_."mybuycat/";?>css/flow.css" rel="stylesheet">
<link type="text/css" href="<?php echo _PUBLIC_."mybuycat/";?>css/flowcg.css" rel="stylesheet">
</head>

<body>
<?php include("./Web/View/Home/Buycat/header.html");?>
    <!--主体部分-->
      <div class="main1 w">
      	  <div class="maincontent">
          	   <div class="orderBox">
               		<div class="information">
                    	<div class="topNote">
                        	<div class="innerNote" style="padding-left:30px;">
                            	<span></span>
                                您已经成功提交订单
                            </div>
                            <p>感谢您在考啦嗨购商城购物，订单已经提交成功，请您在24小时内完成支付，否则订单将会被自动取消！</p>
                        </div>
                    	
                    </div>
               </div>
               
               <p class="turn turns">
               		<a href="<?php echo URL."/buycat/myorder";?>">进入个人中心</a>
                    <a href="<?php echo URL;?>">继续购物</a>
               </p>
               <div class="clear1"></div>
               <div class="zhuyisx">
               		<dl class="ddzhuyi">
                    	<dt>提示：</dt>
                        <dd>1."订单提交"仅代表考啦嗨购商城已收到了您提交的订单，只有您的订单通过了确认审核后，我们双方的订购合同才成立。</dd>
                        <dd>2.当日20：00以后的订单，做为次日订单处理，请您谅解。如您的订单不能正常发货，我们将在24小时内与您联系。</dd>
                        <dd>3.考啦嗨购商城收到您的订单后，将针对订单进行审核，如经审核发现订购异常，或有其他新七天无法出货给您的情况，如商品缺断货、配送超区等，将通知您考虑取消订单
  届时请予谅解。</dd>
  						<dd>4.您在收货后，可要求配送人员打开包装，当场检查产品是否完好无损、配件是否齐全，但不支持通电验机，确认无误后再予以去签收。</dd>
                        <dd>5.购买空调的顾客，只需要检查外包装是否完好，包装有有残破的个顾客可以拒收。请勿擅自拆箱，否则出现残次问题难以确认责任人，影响您的正常退换货，因此请务
  必等待专业安装人员上门拆箱。</dd>
  						<dd>6.如果是3C产品（电脑、手机、相机），请您先付款后打开包装，谢谢您的配合。</dd>
                    </dl>
               </div>
          </div>
      </div>	
    <!--主体结束-->
     <!--尾部-->
    	<div class="footer">

            <div class="footer-nav">
            	<div class="wrapper">
                	<p class="p-nav">
						<a href="#" target="_blank" rel="nofollow">关于我们</a>  | 
                        <a href="#" target="_blank" rel="nofollow">企业荣誉</a>  |
                        <a href="#" target="_blank" rel="nofollow">联系我们</a>  |
                        <a href="#" target="_blank" rel="nofollow">招贤纳士</a>  |
                        <a href="#" target="_blank" rel="nofollow">友情链接</a>  |
                        <a href="#" target="_blank" rel="nofollow">供货商管理平台</a>  |
                        <a href="#" target="_blank" rel="nofollow">网站地图</a> 	
                    </p>
                    <p class="banquan">
                    	版权所有2008-2012 北京考啦嗨购科技有限公司 英特网信息服务业务经营许可证号：京ICP备12008572号-1
                    </p>
                    <p class="p-img">
                    	<a href="#" target="_blank" rel="nofollow">
                        	<img src="images/b2c.jpg" />
                        </a>
                        <a href="#" target="_blank" rel="nofollow">
                        	<img src="images/dz.jpg" />
                        </a>
                        <a href="#" target="_blank" rel="nofollow">
                        	<img src="images/qiang.jpg" />
                        </a>
                    </p>
                </div>
            </div>
        </div>
    <!--尾部结束-->
</body>
</html>
