<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>登录页面</title>
<link type="text/css" href="css/header.css" rel="stylesheet">
<link type="text/css" href="css/footer.css" rel="stylesheet">
<link type="text/css" href="css/index.css" rel="stylesheet">
<link type="text/css" href="css/login.css" rel="stylesheet">
<!--[if IE 6]>
	<script type="text/javascript" src="js/DD_belatedPNG.js" ></script>
	<script type="text/javascript">
	DD_belatedPNG.fix('.shoppingnum,#cart,#cart:hover,.page-list:hover,.item-zoushi,.wrapper,.logo b,.login_title,.hezuo_a a em');
	</script>
<![endif]-->
</head>

<body>
<!--头部 action-->
    <div class="header">
       <!--toubu  小导航--> 
    	<div class="xdh">
        	<div class="w"> 
                <ul class="fl ld">
                   <li class="shoucang">
                       <b></b>
                       <a href="javascript:addToFavorite()" rel="nofollow">收藏新七天</a>
                   </li>
                   <li class="menuSp">
						您好，欢迎来到新七天！
						<span>
							  <a href="###">登录</a>
							  <a href="###">注册</a>	
						</span>
				   </li>
                </ul>
                <ul class="fr lh">
                   <li class="ld"><a href="#" target="_blank">我的订单</a></li>
                   <li class="ld"><s></s><a href="#" target="_blank">资讯中心</a></li>
                   <li class="ld"><s></s><a href="#" target="_blank">帮助中心</a></li>
                   <li class="ld"><s></s><a href="#" target="_blank">快递查询</a></li>
                </ul>
            </div> 
        </div>  
         <!--toubu  小导航--> 
        <!--logo 搜索部分-->
        <div class="logosearch w">
             <div class="logo fl">
                 <a href="#" target="_blank">
                     <img src="images/logo.png" />
                 </a>
                 <b class="hy-denglu"></b>
             </div> 
             <div class="ppbz fr">
             	 <div class="tesefuwu"></div>
             </div>  
        </div>
        <!--logo 搜索 over-->
      </div>  
    <!--头部 over-->
    
    <!--主体内容-->
       <div class="logincon w">
                <div class="loginleft fl">
                    <div class="login_title">
                        <h2>
                        	登录新七天
                        </h2>
                        <p>
                        	为您保存送货有关信息，下次购物轻松又快捷
                        </p>
                    </div>
                    <div class="login_gg m">
                    	<a href="#" target="_blank">
                        	<img src="images/logingg.jpg" />
                        </a>
                    </div>
                </div>
                <div class="loginright fr">
                	<form>
                    	<div class="denglu">
                        	<div class="biaodanI">
                                <label>
                                    邮箱/用户名
                                </label>
                                <div class="inputI">
                                    <input type="text" value="" class="dengluI" />
                                    <b></b>
                                </div>
                                <div style="margin-top:5px;">
                                	<span>
                                    	<font color="red">4-20位字符，可由中英文、数字、_和-组成</font>
                                    </span>
                                </div>
                            </div>
                            <div class="biaodanI">
                                <label>
                                    密码
                                </label>
                                <div class="inputI">
                                    <input type="text" value="" class="dengluI" />
                                    <b class="pwd"></b>
                                </div>
                                <!--<div style="margin-top:5px;">
                                	<span>
                                    	<font color="red">4-20位字符，可由中英文、数字、_和-组成</font>
                                    </span>
                                </div>-->
                            </div>
                            <div class="zidong">
                            	<input type="checkbox" value="" class="zd_login" /> <span class="zd_login">自动登录</span>
                                <span class="wpwd">
                                	<a href="#" target="_blank">忘记密码？</a>
                                </span>
                            </div>
                            <div class="clear"></div>
                            <div class="login_btn">
                            	<input type="button" class="input-B" value="" />
                            </div>
                            <div class="login_hzuser">
                            	<p>
                                	使用合作网站账号登录新七天
                                </p>
                                <div class="hezuo_a">
                                	<a href="#" target="_blank" class="zhifubao">
                                    	<em></em>
                                        支付宝
                                    </a>
                                    <a href="#" target="_blank" class="sina_weibo">
                                    	<em></em>
                                        新浪微博
                                    </a>
                                    <a href="#" target="_blank" class="qq_login">
                                    	<em></em>
                                        qq登录
                                    </a>
                                </div> 
                            </div>
                            <div class="zhuce">
                            	<a href="#" target="_blank">注册</a>
                            </div>
                        </div>
                    </form>
                </div> 
       </div>	
    <!--主体内容结束-->
    <!--尾部-->
    	<div class="footer">
        	<div class="all-helpbox">
            	<div class="wrapper">
                	<dl class="dl-all-help">
                    	<dt class="dl-all-help-title">
                        	购物指南
                        </dt>
                        <dd>
                        	<a href="#" target="_blank" rel="nofollow">交易条款</a>
                        </dd>
                        <dd>
                        	<a href="#" target="_blank" rel="nofollow">购物流程</a>
                        </dd>
                        <dd>
                        	<a href="#" target="_blank" rel="nofollow">大家电</a>
                        </dd>
                        <dd>
                        	<a href="#" target="_blank" rel="nofollow">积分说明/会员制度</a>
                        </dd>
                        <dd>
                        	<a href="#" target="_blank" rel="nofollow">优惠券使用</a>
                        </dd>
                        <dd>
                        	<a href="#" target="_blank" rel="nofollow">常见问题</a>
                        </dd>
                    </dl>
                    <dl class="dl-all-help">
                    	<dt class="dl-all-help-title">
                        	配送方式
                        </dt>
                        <dd>
                        	<a href="#" target="_blank" rel="nofollow">上门自提</a>
                        </dd>
                        <dd>
                        	<a href="#" target="_blank" rel="nofollow">新七天物流(北京)</a>
                        </dd>
                        <dd>
                        	<a href="#" target="_blank" rel="nofollow">快递运输</a>
                        </dd>
                        <dd>
                        	<a href="#" target="_blank" rel="nofollow">验货与签收</a>
                        </dd>
                    </dl>
                     <dl class="dl-all-help">
                    	<dt class="dl-all-help-title">
                        	支付方式
                        </dt>
                        <dd>
                        	<a href="#" target="_blank" rel="nofollow">货到付款</a>
                        </dd>
                        <dd>
                        	<a href="#" target="_blank" rel="nofollow">在线支付</a>
                        </dd>
                        <dd>
                        	<a href="#" target="_blank" rel="nofollow">银行汇款</a>
                        </dd>
                    </dl>
                    <dl class="dl-all-help">
                    	<dt class="dl-all-help-title">
                        	售后服务
                        </dt>
                        <dd>
                        	<a href="#" target="_blank" rel="nofollow">价格保护</a>
                        </dd>
                        <dd>
                        	<a href="#" target="_blank" rel="nofollow">安装和保修</a>
                        </dd>
                        <dd>
                        	<a href="#" target="_blank" rel="nofollow">退换货流程</a>
                        </dd>
                        <dd>
                        	<a href="#" target="_blank" rel="nofollow">厂家服务条款</a>
                        </dd>
                    </dl>
                    <dl class="dl-all-help">
                    	<dt class="dl-all-help-title">
                        	特色服务
                        </dt>
                        <dd>
                        	<a href="#" target="_blank" rel="nofollow">一条龙特色服务</a>
                        </dd>
                        <dd>
                        	<a href="#" target="_blank" rel="nofollow">用户咨询服务方式</a>
                        </dd>
                        <dd>
                        	<a href="#" target="_blank" rel="nofollow">差价补偿</a>
                        </dd>
                        <dd>
                        	<a href="#" target="_blank" rel="nofollow">节能补贴流程</a>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="footer-fuwu">
            	<div class="wrapper">
                	<dl class="dl-all-help">
                    	<dt class="dl-all-help-title">差价补偿</dt>
                        <dd>
                        	<a target="_blank" rel="nofollow">新七天保价承诺</a>
                        </dd>
                    </dl>
                    
                    <dl class="dl-all-help">
                    	<dt class="dl-all-help-title">七大保障</dt>
                        <dd>
                        	<a target="_blank" rel="nofollow">100%正品行货又便宜</a>
                        </dd>
                    </dl>
                    
                    <dl class="dl-all-help">
                    	<dt class="dl-all-help-title">优势精选</dt>
                        <dd>
                        	<a target="_blank" rel="nofollow">提高性价比商品</a>
                        </dd>
                    </dl>
                    
                    <dl class="dl-all-help">
                    	<dt class="dl-all-help-title">一条龙服务</dt>
                        <dd>
                        	<a target="_blank" rel="nofollow">即买即送即装即看</a>
                        </dd>
                    </dl>
                    
                </div>
            </div>
            <div class="footer-nav">
            	<div class="wrapper">
                	<p class="p-nav">
						<a href="#" target="_blank" rel="nofollow">关于我们</a>  | 
                        <a href="#" target="_blank" rel="nofollow">企业荣誉</a>  |
                        <a href="#" target="_blank" rel="nofollow">联系我们</a>  |
                        <a href="#" target="_blank" rel="nofollow">招贤纳士</a>  |
                        <a href="#" target="_blank" rel="nofollow">友情链接</a>  |
                        <a href="#" target="_blank" rel="nofollow">供货商管理平台</a>  |
                        <a href="#" target="_blank" rel="nofollow">网站地图</a> 	
                    </p>
                    <p class="banquan">
                    	版权所有2008-2012 北京新七天科技有限公司 英特网信息服务业务经营许可证号：京ICP备12008572号-1
                    </p>
                    <p class="p-img">
                    	<a href="#" target="_blank" rel="nofollow">
                        	<img src="images/b2c.jpg" />
                        </a>
                        <a href="#" target="_blank" rel="nofollow">
                        	<img src="images/dz.jpg" />
                        </a>
                        <a href="#" target="_blank" rel="nofollow">
                        	<img src="images/qiang.jpg" />
                        </a>
                    </p>
                </div>
            </div>
        </div>
    <!--尾部结束-->
</body>
</html>
