<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我的订单页</title>
<link type="text/css" href="<?php echo _PUBLIC_."mybuycat/";?>css/header.css" rel="stylesheet">
<link type="text/css" href="<?php echo _PUBLIC_."mybuycat/";?>css/footer.css" rel="stylesheet">
<link type="text/css" href="<?php echo _PUBLIC_."mybuycat/";?>css/index.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="<?php echo _PUBLIC_."mybuycat/";?>css/article.css">
<link type="text/css" href="<?php echo _PUBLIC_."mybuycat/";?>css/myflow.css" rel="stylesheet">
<!--[if IE 6]>
	<script type="text/javascript" src="js/DD_belatedPNG.js" ></script>
	<script type="text/javascript">
	DD_belatedPNG.fix('.shoppingnum,#cart,#cart:hover,.page-list:hover,.item-zoushi,.wrapper');
	</script>
<![endif]-->
</head>

<body>
<!--头部 action-->
    <div class="header">
       <!--toubu  小导航--> 
        <div class="xdh">
            <div class="w"> 
                <ul class="fl ld">
                  <?php
                  if($_SESSION["homeuser"]==""){
                   echo "<li class=\"menuSp\">";
                                echo "考啦欢迎你！";
                                echo "<span>";
                                      echo "<a href=\"".URL."/logins/login\">登录</a>";
                                      echo "<a href=\"".URL."/register/reg\">免费注册</a>"; 
                                echo "</span>";
                          echo "</li>";
                  }else{
                    echo "<li class=\"menuSp\">";
                      echo "考啦欢迎你{$_SESSION['homeuser']['username']}！";
                      echo "<a class=\"login\" href=\"".URL."/logins/logout\">退出</a>";
                    echo "</li>";
                  }
                ?>
                </ul>
                <ul class="fr lh">
                   <li class="ld"><a href="<?php echo URL."/buycat/myorder";?>" target="_blank">个人中心</a></li>
                   
                </ul>
            </div> 
        </div>  
         <!--toubu  小导航--> 
        <!--logo 搜索部分-->
        <div class="logosearch w">
             <div class="logo fl">
                 <a href="<?php echo URL; ?>" target="_blank">
                     <img src="<?php echo _PUBLIC_."mybuycat/";?>images/logo.png" />
                 </a>
             </div>
             <div class="search fl">
                  <div class="kWords">
                        热门搜索：
                        <a href="###" class="zuire" target="_blank">创维</a>
                        <a href="###" target="_blank">LG</a>
                        <a href="###" target="_blank">松下</a>
                        <a href="###" target="_blank">长虹</a>
                        <a href="###" target="_blank">先锋</a>
                        <a href="###" target="_blank">取暖器</a>
                        <a href="###" target="_blank">亚都</a>
                        <a href="###" target="_blank">HTC</a>
                  </div>
                  <form>
                       <div class="searchI">
                           <label class="searchW">
                                <input class="searchK" type="text" name="search" value="输入商品 品牌 型号等" />
                           </label>
                           <div class="associate" style=";">
                                <ul>
                                    <li class="assson"><em>三星</em><span>约10000个搜索结果</span></li>
                                    <li><em>三星</em><span>约10000个搜索结果</span></li>
                                    <li><em>三星</em><span>约10000个搜索结果</span></li>
                                    <li><em>三星</em><span>约10000个搜索结果</span></li>
                                    <li><em>三星</em><span>约10000个搜索结果</span></li>
                                    <li><em>三星</em><span>约10000个搜索结果</span></li>
                                    <li><em>三星</em><span>约10000个搜索结果</span></li>
                                </ul>
                           </div>
                           <input type="button" value="" class="inBut" />
                       </div>
                  </form>
             </div>
               
        </div>
        <!--logo 搜索 over-->
      </div>  
    <!--头部 over-->
    <!--主体部分-->
    <div class="main1 w">
    	<div class="mainleft fl">
            <div class="dd_guanli">
                <div class="myIndent">
                    <h1>我的新七天</h1>
                </div>
                <div class="mc4">
                    <strong class="subTit">交易管理</strong>
                    <ul class="listItem">
                        <li class="selectedd">
                            <a href="<?php echo URL;?>/buycat/myorder">我的订单</a>
                        </li>
                    </ul>
                   
                    <strong class="subTit">个人信息管理</strong>
                     <ul class="listItem">
                    	<li>
                           <a href="<?php echo URL;?>/buycat/myAddress">个人资料</a>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mainright fr">
        	<div class="dd_list">
        		<h6>我的个人资料</h6>
                <div class="orders-table">
                      <form action="<?php echo URL;?>/buycat/myAddress" method="post">
                      <input type="hidden" name="username" value="<?php echo $_SESSION['homeuser']['username']; ?>">
                      <input type="hidden" name="pass" value="<?php echo $_SESSION['homeuser']['pass']; ?>">
                      <input type="hidden" name="state" value="<?php echo $_SESSION['homeuser']['state']; ?>">
                      <input type="hidden" name="addtime" value="<?php echo $_SESSION['homeuser']['addtime']; ?>">
                      <table width="320" border="0" align="center"> 
                          <tr height="40">
                              <td align="right">姓名：</td>
                              <td><input type="text"  name="name" value="<?php echo $_SESSION['homeuser']['name']; ?>"/></td>
                          </tr>
                          <tr height="40">
                              <td align="right">地址：</td>
                              <td><input type="text"  name="address"  value="<?php echo $_SESSION['homeuser']['address']; ?>"/></td>
                          </tr>
                          <tr height="40">
                              <td align="right">联系电话：</td>
                              <td><input type="text"  name="phone"  value="<?php echo $_SESSION['homeuser']['phone']; ?>"/></td>
                          </tr>
                          <tr height="40">
                              <td align="right">邮编：</td>
                              <td><input type="text"  name="code"  value="<?php echo $_SESSION['homeuser']['code']; ?>"/></td>
                          </tr>
                          <tr height="40">
                              <td align="right">邮箱：</td>
                              <td><input type="text"  name="code"  value="<?php echo $_SESSION['homeuser']['email']; ?>"/></td>
                          </tr>
                          <tr height="40">
                              <td colspan="2" align="center">
                                  <input type="submit" value="确认修改"/>
                              </td>
                          </tr>
                      </table>
                      </form>
                </div>
    			        
            </div>
        </div>	
    </div>
    <!--主体部分结束-->
    <!--尾部-->
    	<div class="footer">
        	
            <div class="footer-nav">
            	<div class="wrapper">
                	<p class="p-nav">
						<a href="#" target="_blank" rel="nofollow">关于我们</a>  | 
                        <a href="#" target="_blank" rel="nofollow">企业荣誉</a>  |
                        <a href="#" target="_blank" rel="nofollow">联系我们</a>  |
                        <a href="#" target="_blank" rel="nofollow">招贤纳士</a>  |
                        <a href="#" target="_blank" rel="nofollow">友情链接</a>  |
                        <a href="#" target="_blank" rel="nofollow">供货商管理平台</a>  |
                        <a href="#" target="_blank" rel="nofollow">网站地图</a> 	
                    </p>
                    <p class="banquan">
                    	版权所有2008-2012 北京新七天科技有限公司 英特网信息服务业务经营许可证号：京ICP备12008572号-1
                    </p>
                    <p class="p-img">
                    	<a href="#" target="_blank" rel="nofollow">
                        	<img src="images/b2c.jpg" />
                        </a>
                        <a href="#" target="_blank" rel="nofollow">
                        	<img src="images/dz.jpg" />
                        </a>
                        <a href="#" target="_blank" rel="nofollow">
                        	<img src="images/qiang.jpg" />
                        </a>
                    </p>
                </div>
            </div>
        </div>
    <!--尾部结束-->
</body>
</html>
